<a href="https://colab.research.google.com/github/chanaiagwata/Python_Basics/blob/main/02_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Print the type of 42, 3.14, and 'hello'.
print(type(42))
print(type(3.14))
print(type('hello'))

<class 'int'>
<class 'float'>
<class 'str'>

In [17]:
# Convert a string '100' to an integer.

hundred_string = '100'
hundred_string2= int(hundred_string)
print(hundred_string2)

100

In [24]:
# Add an integer and a float together. What is the result?
num1 = 34
flt1 = 34.5
# print(sum(num1+flt1))
num1+flt1

68.5

In [26]:
# What happens when you try to multiply a string by a number?
strr = 'hello'
num1 = 23
strr*num1

'hellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohellohello'

In [29]:
# Challenge
# Write a program that:

# Asks the user to enter two numbers (as strings)
# Converts them to integers or floats
# Prints their sum and type
num1 = input(str('number_one'))
num2 = input(str('number_two'))
print(f"The sum is {(int(num1)+int(num2))} and type is {type(int(num1)+int(num2))}")

number_one2
number_two3
The sum is 5 and type is <class 'int'>