<a href="https://colab.research.google.com/github/chanaiagwata/Python_Basics/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data Structures
# Create a list of 5 fruits and print the third fruit.

fruits = ['mango','banana','passion','apple', 'grapes']
print(fruits[2])

passion

In [3]:
# Create a dictionary with keys: name, age. Print the value of age.

dict1 = {
    'name':'Chanai',
    'age':28
}
dict1['age']

28

In [11]:
# Define a tuple with three numbers. Try modifying it. What happens?
tple = (2,3,5)
tple2 =  str(tple[1])
type(tple2[0])

str

In [16]:
# Create a set from a list with duplicate values.
list1 = [2,3,"hello", 6]
set1 = set(list1)
print(set1)

{2, 3, 6, 'hello'}

In [18]:
# Challenge
# Create a program that:
# Takes 5 user inputs and stores them in a list
# Converts the list into a set and prints the unique values
input1 = input('Value1')
input2 = input('Value2')
input3 = input('Value3')
input4 = input('Value4')
input5 = input('Value5')
List1 = [input1,input2,input3,input4,input5]
set1 = set(List1)
print(set1)

Value11
Value22
Value33
Value44
Value55
{'4', '2', '1', '5', '3'}